*{
    margin: 0px;
    padding: 0px;
}

body{
     color: rgb(255, 255, 255);
    background-color: rgb(139, 5, 5);
}

header{
    
    background-color: rgb(0, 0, 0);
    color: rgb(255, 253, 253);
    font-size: 25px;
    border-bottom: solid 2px yellow, black, blue, red;
    padding: 20px;
    heught: 30px;
}

.chamada{
    display:flex;
    justify-content: center;
    background-color: brown;
}

.chamada-texto{
    margin-right: 5%;
}

img{
    height: 200px;
}

.categotia-videos{
    display: flex;
    
}